{% extends 'base.html.twig' %}

{% block title %}Professeur index
{% endblock %}

{% block body %}
	<h1>Liste des Professeurs</h1>
	<a href="{{ path('professeur_new') }}">Ajouter</a>
	<hr></hr>
	<table class="table" border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Tel</th>
				<th>Email</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for professeur in professeurs %}
				<tr>
					<td>{{ professeur.id }}</td>
					<td>{{ professeur.nom }}</td>
					<td>{{ professeur.prenom }}</td>
					<td>{{ professeur.tel }}</td>
					<td>{{ professeur.email }}</td>
					<td>
						<a href="{{ path('professeur_show', {'id': professeur.id}) }}">Voir</a>
						<a href="{{ path('professeur_edit', {'id': professeur.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
