{% extends 'base.html.twig' %}

{% block title %}Professeur{% endblock %}

{% block body %}
    <h1>Professeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ professeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ professeur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ professeur.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ professeur.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ professeur.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('professeur_index') }}">liste des professeurs</a>

    <a href="{{ path('professeur_edit', {'id': professeur.id}) }}">MOdifier</a>

    {{ include('professeur/_delete_form.html.twig') }}
{% endblock %}
