{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    <h1>Liste des Etudiants</h1>
     <a href="{{ path('etudiant_new') }}">Ajouter</a>
    <hr></hr>
    <table class="table" border=1>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Classe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.adresse }}</td>
                <td>{{ etudiant.classe }}</td>
                <td>
                    <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}">Voir</a>
                    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
